/* 
	Corgi: custom bootstrap theme. 
	Author: Damian Sowers
*/
body {
	background: url("../img/billie_holiday.png") repeat;
}
.navbar-inner {
	padding:0px;
	background-image:none;
	background-color:#111;
	/*height:49px;*/
	height: 40px;
	border:none;
	opacity:0.9;
	filter:none;
	background-image: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%);
}
.navbar .brand {
	font-family: 'Raleway', sans-serif;
	font-size:30px;
	font-size: 28px;
	font-weight: 400;
	color: #eee;
	text-shadow: 0 2px 0 #000;
}
/*.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #eee;
	text-decoration: none;
	background-color: #222;
	margin-top:-10px;
	padding-top:20px;
	padding-bottom:18px;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar .nav > li > a {
	float: none;
	font-size:14px;
	padding: 10px 15px 10px;
	color: #eee;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
.navbar .nav > li > a:hover {
	color:#0088cc;
}*/
.collapse {
	background-color:#333;
}
#network-status{
	color: red;
	display: none;
}

/* Conf Stytles*/
#setup-new-room{
	background: transparent;
	border: 0;
	color: white;
	margin-top: 10px;
	display: block;
}

@media (max-width: 979px) {
.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
	background-color: #000;
	color:#fff;
	}
}
.well {
	border: 1px solid #ddd;
	background: -webkit-linear-gradient(top, #ffffff, #f9f9f9);
	background: -moz-linear-gradient(top, #ffffff, #f9f9f9);
	background-color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}
.corgi_well {
	background-color:#fff;
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: inset 0 0 2px 2px #ffffff;
	-webkit-box-shadow: inset 0 0 2px 2px #ffffff;
	box-shadow: inset 0 0 2px 2px #ffffff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.corgi_feed_well {
	background-color:#fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0px 0px 2px 2px #ffffff;
	box-shadow: inset 0px 0px 2px 2px #ffffff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	margin-bottom:20px;
}
.meta_image {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	border:4px solid #efefef;
}
.feed_body {
	padding:20px;
/*	border-bottom:1px solid #efefef;*/
	margin-bottom:0;
}
.feed_profile_pic {
	float:left;
	width:10%;
	margin-left:15px;
	margin-right:15px;
}
.feed_text {
	float:left;
	width:80%;
	font-size:18px;
	color:#666;
}
.bottom_meta {
	margin-top:-10px;
	padding-left:20px;
	padding-bottom:20px;
}
.feed_stacked {
	border-bottom: 1px solid #efefef;
}
.last_feed_item {
	border:none;
}
.bottom_left {
	float:left;
	margin-left:20px;
}
.bottom_right {
	float:right;
	margin-right:20px;
	color:#999;
	font-size:12px;
}
.bottom_right span {
	color:#ccc;
}
.bottom_right a {
	font-weight:bold;
}
.comment_area {
	display:none;
	padding:20px;
	background-color:#111;
	background: url("../img/wild_oliva.png") repeat;
}
.feed_hr {
	margin-top:0;
	margin-bottom:20px;
	padding-top:0;
}
.comment_area p {
	color:#fff;
	text-shadow: 0 1px 0 #000;
}
.sidebar_header {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color:#fff;
	background: url("../img/tiny_grid.png") repeat;
}
.sidebar_title {
	padding:20px;
	color:#333;
		text-shadow: 0 2px 0 #fff;
}
.picture_header {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color:#333;
	background: url("../img/tiny_grid.png") repeat;
}
.picture_header_title {
	padding:20px;
}
.picture_header_title h2 {
	color:#333;
	text-shadow: 0 2px 0 #fff;
}
.sidebar_interior {
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
}
.corgi_footer {
	background-color:#fff;
	height:80px;
}
.corgi_footer ul {
	margin:0;
	margin-top:20px;
	float:left;
}
.corgi_footer ul li {
	padding-top:20px;
	padding-right:20px;
	display:inline;
	list-style-type:none;
}
.corgi_copyright {
	float:right;
	margin-top:20px;
}
.share {
	background-color:#57ad68;
	padding:5px;
	width:18px;
	height:18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	text-align:center;
}
.share a {
	color:#fff;
	z-index:1;
}
.share a:hover {
	text-decoration:none;
}
.share_hidden {
	background-color:#57ad68;
	padding:15px 0 0 15px;
	display:none;
	position:absolute;
	margin-top:-30px;
	z-index:0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.internal_heart {
	color:#fff;
	padding-right:15px;
}
.share_hidden ul li {
	list-style-type: none; 
	display:block;
	color:#fff;
	margin-left:-7px;
	margin-right:0;
	padding-right:0;
	padding:5px;
/*	border-bottom:1px solid #efefef;*/
}
.share_hidden ul li:hover {
	background-color:#111;
	margin-right:0;
	padding-right:0;
}
.hover_heart {
	margin-left:-8px;
	margin-top:-8px;
/*	margin-left:-37px;
	margin-top:-9px;*/
}
.share_hidden ul li span {
	margin-left:10px;
}
.social_links {
	margin-top:5px;
}
.well_padding {
	padding:20px;
}
.title_hr {
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
}
.elusive_icons li {
	list-style-type:none;
}
.nav > li {
	width: 43px;
	height: 42px;
	padding: 0 4px 0 4px;
	color: black;
	margin: 0 5px 0 5px;
	background: none;
}
.navbar .nav > li > a {
	padding: 10px 10px 7px 10px;
	width: 23px;
	height:20px;
	color: rgb(13, 99, 143);
	margin: 0 0 0 0;
	background: none;
	box-shadow: none;
	border: none;
}
.navbar .nav > li > a > i , .navbar .nav > li > button > i{
	width: 23px;
	height: 14px;
	color: #fff;
	font-size: 18px;
	line-height: 14px;
	background: rgba(0, 0, 0, 0);
	margin: 0 0 0 0;
}
#in-logo {
	background: url("../img/logo_in_nav_retina_88x72.png") no-repeat;
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: 44px 36px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-origin: padding-box;
background-size: 44px 36px;
border-bottom-color: rgb(0, 102, 153);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 102, 153);
border-right-color: rgb(0, 102, 153);
border-top-color: rgb(0, 102, 153);
color: rgb(0, 102, 153);
cursor: auto;
display: block;
float: left;
font-family: Helvetica, Arial, sans-serif;
font-size: 13px;
font-style: normal;
font-weight: normal;
height: 36px;
left: -1px;
line-height: 17px;
margin: 0 5px  0 3px;
outline-color: rgb(0, 102, 153);
outline-width: 0px;
overflow: hidden;
padding: 0;
position: relative;
text-align: left;
text-decoration: none solid rgb(0, 102, 153);
text-indent: -119988px;
vertical-align: baseline;
width: 44px;
}
.search-container {
	float: left;
}
.search-container li {
	display: inline-block;
	margin: 0;
	padding: 0;
	top: -8px;
	height: 20px;
	margin-top: 4px;
}
.search-container li button {
	-webkit-appearance: none;
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-writing-mode: horizontal-tb;
align-items: flex-start;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(40, 123, 188);
background-image: -webkit-linear-gradient(top, rgb(40, 123, 188) 0%, rgb(35, 99, 154) 100%);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(27, 84, 128);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(27, 84, 128);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(27, 84, 128);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(27, 84, 128);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
float: right;
font-family: Helvetica, Arial, sans-serif;
font-size: 13px;
font-style: normal;
font-weight: bold;
letter-spacing: normal;
margin-bottom: 0px;
margin-right: 5px;
padding-bottom: 0px;
padding-left: 3px;
padding-right: 3px;
padding-top: 0px;
text-decoration: none solid rgb(255, 255, 255);
text-shadow: rgba(0, 0, 0, 0.34902) 0px 1px 1px;
text-transform: none;
vertical-align: middle;
white-space: nowrap;
width: 50px;
word-spacing: 0px;
writing-mode: lr-tb;
zoom: 1;
margin: -6px 0 0 -4px;
padding: 5px;
}
.search-container li input {
	width: 320px;
}
.search-container {
	margin-left: 130px;
}
.search-container .dropdown-menu li {
	display: block;
}
.login-frame {
	display: none;
	min-height: 800px;
	background: transparent;
}
.login-frame #revoke, .login-frame #user_info {
	display: none;
}
button#signin {
	   position: absolute;
	   top: 0;
	   bottom: 0;
	   right: 0;
	   left: 450px;
	   margin: auto;
       background-color: #287bbc;
       color: #fff;
       font-size: 17px;
       font-weight: bold;
       border: 1px solid #1b5480;
       border-radius: 3px;
       height: 45px;
       padding: 10px 10px 10px 10px;
       zoom: 1;
       vertical-align: middle;
       background-image: -webkit-linear-gradient(top, #287bbc 0%,#23639a 100%);
}
.login-frame > .sign-in-title {
	font-size: 17px;
	text-align: center;
	font-size: 17px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	margin-top: 287px;
	bottom: 0;
	width: 343px;	
}

#job-suggestions-wrapper h1 {
	color: rgb(0, 119, 181);
	cursor: pointer;
	display: inline;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	height: auto;
	line-height: 14px;
	text-align: left;
	text-decoration: none solid rgb(0, 119, 181);
	vertical-align: baseline;
	width: auto;
	zoom: 1;
}
#job-suggestions-wrapper h2.job-description, h3.job-location {
	color: rgb(102, 102, 102);
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	height: 14px;
	line-height: 14px;
	margin-bottom: 5px;
	text-align: left;
	text-overflow: ellipsis;
	vertical-align: baseline;
	zoom: 1;
	width: 240px;
}
#job-suggestions-wrapper h3.job-location {
	margin-top: 40px;
}
#job-suggestions-wrapper .job-suggestion-item {
	border-bottom: 1px solid #CCCCCC;
}
