#user-feed-wrapper {
	min-height: 700px;
}
.feed_text {
	font-size: 14px;
}

.bottom_right span.anchor {
	color: #0088cc;
	cursor: pointer;
}

.bottom_right span {
	color: #999;
}

.bottom_meta {
	padding-bottom: 10px;
	margin-top: -15px;
}

#feed-list-wrapper {
	margin-left: 83px;
}

#friend-pic , #friend-description {
	display: inline-block;
}
#friend-description {
	margin-left: 10px;
	width: 350px;
}

#my-post-url {
	color: #999;
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
}

#my-post-title {
	line-height: 18px;
	font-weight: bold;
	color: #333;
	font-size: 14px;
	margin: 5px 0;
}

.anchor {
	color: #0088cc;
	cursor: pointer;
}