<div class="row">
  <div class="col-xs-4 col-xs-4 col-md-4">
    <a href="" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="...">
    </a>
    <a href="" class="job-title"></a>
    <span class="text-muted"></span>
  </div>
  <div class="col-xs-4 col-xs-4 col-md-4">
    <a href="" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="...">
    </a>
    <a href="" class="job-title"></a>
    <span class="text-muted"></span>
  </div>
  <div class="col-xs-4 col-xs-4 col-md-4">
    <a href="" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="...">
    </a>
    <a href="" class="job-title"></a>
    <span class="text-muted"></span>
  </div>
</div>