<div class="corgi_feed_well">
<div class="individual_feed_item">
  <div class="feed_item">
    <div class="feed_body">
      <div class="row">
        <div class="feed_profile_pic">
          <img src="img/boxer.jpg" alt="meta image" class="meta_image" />
        </div>
        <div class="feed_text">
          <p id="job-title" class="small_text">
              <a id="company" class="anchor">Zscalar Inc.</a>
              <span> posted a job you might be interested in:</span>
          </p>
          <div class="small_text">
              <div id="job-designation" class="anchor">Senior Software Engineer</div>
              <div id="job-description"><span id="job-location"></span> Senior Software Engineer Looking for passionate and seasoned engineer to be part of and grow with a highly talented team that has built a ground breaking “In the Cloud" web and email security..</div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment_area">
      <p>Add a comment</p>
      <form>
        <textarea rows="3" class="span6"></textarea><br/>
        <input type="submit" class="btn" />
      </form>
    </div>
    <hr class="feed_hr" />
    <div class="bottom_meta">
      <div class="row">
        <div class="bottom_left">
          <div class="share_wrapper">
            <div class="share"><a href="#" class="share_button"><i class="icon-heart"></i></a></div>
            <div class="share_hidden">
              <ul class="hover_heart">
                <span class="internal_heart"><i class="icon-heart"></i> Share This Post</span> 
                <div class="social_links">
                  <li><span><i class="icon-twitter"></i> Twitter</span></li>
                  <li><span><i class="icon-facebook"></i> Facebook</span></li>
                  <li><span><i class="icon-pinterest"></i> Pinterest</span></li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="bottom_right">
          <a href="#">View Job</a> <span> | </span><span id="job-posted-time">2 days ago</span>
        </div> 
      </div>
    </div>
  </div>
</div>
</div>