<div class="individual_feed_item">
  <div class="feed_item">
    <div class="feed_body">
      <div class="row">
        <div class="feed_profile_pic">
        </div>
        <div class="feed_text">
          <p id="title" class="small_text">
              <span id="person" class="anchor"></span>
          </p>
          <div class="small_text">
              <div id="my-post-comment"></div>
              <div id="my-post-title"></div>
              <div id="my-post-description"><a id="my-post-url">developer.linkedin.com </a> Check out the LinkedIn Share API! LinkedIn Developers Documentation On Using the Share API Leverage the Share API to maximize engagement on user-generated content on LinkedIn...</div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment_area">
      <p>Add a comment</p>
      <form>
        <textarea rows="3" class="span6"></textarea><br/>
        <input type="submit" class="btn" />
      </form>
    </div>
    <hr class="feed_hr" />
    <div class="bottom_meta">
      <div class="row">
        <div class="bottom_left">
          <div class="share_wrapper">
            <div class="share"><a href="#" class="share_button"><i class="icon-heart"></i></a></div>
            <div class="share_hidden">
              <ul class="hover_heart">
                <span class="internal_heart"><i class="icon-heart"></i> Share This Post</span> 
                <div class="social_links">
                  <li><span><i class="icon-twitter"></i> Twitter</span></li>
                  <li><span><i class="icon-facebook"></i> Facebook</span></li>
                  <li><span><i class="icon-pinterest"></i> Pinterest</span></li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="bottom_right">
          <a href="#">Like</a> <span> | </span> <a href="#">Comment</a> <span> | </span> <span id="new-post-created-time">2 mins ago</span>
        </div> 
      </div>
    </div>
  </div>
</div>